# dependencies
/node_modules
mcp-server/node_modules

# build output
/dist
/storybook-static
mcp-server/dist

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo

# editor
.vscode/*
!.vscode/extensions.json
